html{
	background-repeat: no-repeat;
	background-size: cover;
	background: lightgreen;

	
}
h1{
	background: #109763;
	font: sans-serif;
	text-align: center;
	margin-top: 100pt;
	border: 2px solid black;
	border-width: thick;
	border-radius: 5px;
	font-size: xx-large;
	}	
#image{
	size: 100%;
	border: dashed blue 4px;
}
#para{
	background-color: cornflowerblue;
	scroll-behavior: smooth;
	text-align: center;

}
